$gray-100: #333333;
$gray-200: #4f4f4f;

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Space+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: $gray-100;
  font-family: 'Inconsolata';
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  height: 65vh;
  max-width: 370px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  img {
    align-self: center;
    width: 70%;
  }
  h1 {
    font-size: 48px;
    font-family: 'Space Mono';
    letter-spacing: -2px;
    line-height: 45px;
    word-spacing: -5px;
  }
  p {
    color: $gray-200;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 16px 0;
  }
}
header {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.return {
  cursor: pointer;
  padding: 30px;
  background-color: $gray-100;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Space Mono';
  text-align: center;
  width: max-content;
}
footer {
  text-align: center;

  a {
    margin-bottom: 2rem;
  }
  a:visited {
    color: $gray-100;
  }
  a:hover {
    color: darken(white, $amount: 55);
  }
}
@media (min-width: 760px) {
  main {
    max-width: 95%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
  img {
    max-width: 40vw;
  }
  .container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h1 {
      font-size: 64px;
      line-height: 4rem;
    }
    p {
      width: auto;
      font-size: 24px;
    }
  }
}
